/Console-IP-Communication/.vs
/Console-IP-Communication/ClientConsoleApp/bin
/Console-IP-Communication/ClientConsoleApp/obj
/Console-IP-Communication/Common/bin
/Console-IP-Communication/Common/obj
/Console-IP-Communication/ServerConsoleApp/bin
/Console-IP-Communication/ServerConsoleApp/obj
